RESEND_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
BUSINESS_EMAIL=
NEXT_PUBLIC_SITE_URL=https://2nd-chance-valeting.vercel.app
NEXT_PUBLIC_BUSINESS_NAME=2nd Chance Mobile Car & Van Valet
